# =====================
# Python
# =====================
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.eggs/
build/
dist/
.pytest_cache/
.coverage
.coverage.*
htmlcov/

# =====================
# Node / Frontend
# =====================
node_modules/
dist/

# =====================
# Docker / Runtime
# =====================
docker-data/
data/
mysql-data/
*.log

# =====================
# Environment variables
# =====================
.env
.env.local
.env.*.local
deploy/env/*.env
!deploy/env/*.env.example


# local compose overrides
deploy/compose.local.override.yml


# =====================
# IDE / Editor
# =====================
.vscode/
.idea/
*.iml

# =====================
# OS
# =====================
.DS_Store

# =====================
# Temp / Backup
# =====================
*.tmp
*.swp
*.bak
